<div ng-controller="itemController">
    <div id="header">
        <p>Welcome, {{currentuser.name}}! <a href="/logout">Logout</a></p>
    </div>
<h1>Add an Item to Your Bucket List</h1>

    <div>
        <p style="color: hotpink;" ng-repeat='error in errors track by $index'>{{error}}</p>
        <form ng-submit='addItem()'>
            Title: <input type="text" placeholder="Title" ng-model="newItem.title">
            Description: <input type="text" placeholder="Description" ng-model="newItem.description">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>