<div ng-controller="nerdController">
    <div id="header">
        <p>Welcome, {{currentuser.name}}! <a href="/logout">Logout</a></p>
    </div>
<h1>Add a Hero!</h1>

    <div>
        <p style="color: hotpink;" ng-repeat='error in errors track by $index'>{{error}}</p>
        <form ng-submit='addNerd()'>
            Nerd Name: <input type="text" placeholder="Name" ng-model="newNerd.name">
            Powers: <input type="text" placeholder="Powers" ng-model="newNerd.powers">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>