<div id="header">
    <p>Welcome, {{currentuser.name}}! <a href="/logout">Logout</a> <a href="#!/dashboard">Dashboard</a></p>
</div>
<div ng-controller="itemController">

    <h1>{{ user.items[0].name }}'s Bucket List</h1>
    <h3>Pending</h3>
    <table>
        <thead>
            <th>User</th>
            <th>Title</th>
            <th>Description</th>
            <th>Made On</th>
            <th>Mark Complete</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in items | filter: {name: item._user[0].name, status: 'Active' } : true track by $index">
                <td>
                    <p ng-repeat="things in item track by $index">{{ things[0].name }} {{ things[1].name}}</p>
                </td>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.createdAt | date:'MMM dd yyyy' }}</td>
                <td>
                    <input type="checkbox" ng-model="status" ng-checked="checked" ng-change="updateStatus(item._id)">
                </td>
            </tr>
        </tbody>
    </table>
    <h3>Done</h3>
    <table>
        <thead>
            <th>User</th>
            <th>Title</th>
            <th>Description</th>
            <th>Made On</th>
            <th>Reactivate</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in items | filter: { status: 'Inactive'} : true track by $index">
                <td>{{ item._user[0].name }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.createdAt | date:'MMM dd yyyy' }}</td>
                <td>
                    <input type="checkbox" ng-model="status" ng-checked="checked" ng-change="updateStatus(item._id)">
                </td>
            </tr>
        </tbody>
    </table>
</div>